.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
auth/node_modules/
counter/node_modules/
shopping-cart/node_modules/
gallery/node_modules/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
